apiVersion: apps/v1
kind: Deployment
metadata:
  name: admin-deployment
  namespace: homeworking
  labels:
    app: admin
spec:
  replicas: 1
  selector:
    matchLabels:
      app: admin
  template:
    metadata:
      labels:
        app: admin
    spec:
      containers:
        - name: adminer
          image: adminer:5.3.0
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
          env:
           - name: ADMINER_DEFAULT_SERVER # Optional: set a default server
             value: postgres-service # Replace with your database service name  
          


