apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-deployment
  namespace: homeworking
  labels:
    app: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: pycwa
          image: iefdocker/pycwa:1.1
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
          envFrom:
            - configMapRef:
                name: app-secret